$main-green: #42b983;

* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 16px;
  box-sizing: border-box;
}

a,
button {
  background: white;
  font-weight: bold;
  color: $main-green;
  text-decoration: none;
  cursor: pointer;
}

button:disabled{
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #666;
}

hr {
  border: solid 1px white;
  width: 70%;
}

input:focus,
button:focus {
  outline: 0;
}

//body wrapper w/ margin top to avoid navbar
.body-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;

  &--flex-col {
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .body-container {
    &--mt-80 {
      margin-top: 80px;
    }
  }

}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .body-container {
    &--md {
      flex-direction: column;
    }
  }
}

.select-bar {
  margin: 0 0 10px 0;
  border: 1px solid #e5e5e5;  
  border-radius: 20px;
  width: 70%;

    select {
      border-radius: 20px;
      padding: 8px;
        font-size: 14px;
        border: none;
        width: 100%;
        background: white;
        padding-left: 5px;
    }

    select:focus {
      outline-width: 0;
    }
}

//BUNDLE 
//article
.article {
  width: 40%;

  //main page text
  &--left {
    margin: 25px auto 30px 50px;
    text-align: left;
    padding-left: 50px;
    border-left: solid 1px;
  }

  //page text
  &--column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__title {
    color: $main-green;
    font-size: 4em;

    //main page title
    &--big {
      font-size: 4em;
      margin: 20px 0 20px 0;
    }

    //page title
    &--smol {
      font-size: 2em;
      margin: 30px 0 30px 0;
    }

    &--right {
      text-align: right;
    }
  }

  &__text {
    line-height: 1.5em;

    //page text
    &--right {
      text-align: right;
    }

    //main page text
    &--margin {
      margin: 15px 0;
    }
  }
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .article {
    width: 60%; 

    &--left {
      border: 0;
    }

    &--md-center {
      margin: auto;
      padding: 0;
    }

    &__title {
      &--smol {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For smol mobile phones: */
  .sm-text-center {
    text-align: center;
  }

  .article {
    width: 80%;

    &__title {
      &--big {
        font-size: 3em;
      }
    }
  }
}

//home page only
.home {
  &__media {
    margin-top: 5px;
    a {
      margin: 0 15px;
    }
  }

  &__arrow {
    margin-top: 40px;
  }

  &__page {
    margin-top: 120px;
    margin-bottom: 40px;
    display: flex;
    overflow-x: hidden;
    justify-content: center;

    &--center {
      justify-content: center;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    .img {
      img {
        max-width: 40vw;
      }

      &-flexend {
        align-self: flex-end;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .form {
    &__control {
      &--md-ml0 {
        margin-left: 0;
      }
    }
  }
}

.list-card {
  width: 30%;
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    margin: 10px auto 10px 20px;
    color: $main-green;
    font-weight: bold;
  }

  //shouldn't have done this
  .btn-group {
    &__link {
      margin: 0 0 0 10px;
      width: 10%;
    }
  }

  //shouldn't have done this
  .form__control {
    width: 70%;
  }

  &__search-bar {
    display: flex;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .list-card {
    width: 80%;

    .form__control {
      width: 60vw;
    }

    &__search-bar {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//BUNDLE
//article-bar
.article-bar {
  // position: absolute;
  margin: 30px -8vw 30px -8vw;
  width: 20vw;
  padding: 30px;
  z-index: 1;
  color: white;
  background: $main-green;
  border-radius: 20px 0 20px 0;
  // left: 50%;

  &__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.3em;
  }
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .article-bar {
    width: 50vw;
    margin: auto -30vw;
  }
}

//BUNDLE
//btn-group

.btn-group {
  margin-bottom: 30px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__link {
    margin-left: 350px;
    margin-bottom: 15px;
    height: 35px;
    padding: 0 15px;
    border: $main-green solid 1px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--filled {
      background: $main-green;
      color: white;
    }
  }

  &--horizontal {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btn-group__link {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For smol mobile phones: */
  .btn-group {
    &__link {
      margin-left: 0;
    }
  }
}

//BUNDLE
//card
.card {
  border: solid 1px $main-green;
  padding: 30px;
  border-radius: 0 20px 0 20px;
  text-align: left;
  margin-bottom: 20px;

  hr {
    border: $main-green;
    width: 70%;
  }

  &__title {
    font-size: 1.3em;
    color: $main-green;
    margin-bottom: 10px;
  }

  &__section {
    margin-top: 10px;

    &__title {
      margin-bottom: 5px;
    }
  }
}

//BUNDLE
//form
.form {
  display: flex;
  //not stretching to the full height of page
  // align-self: flex-start;
  flex-direction: column;
  margin-bottom: 20px;

  &--not-stretch {
    align-self: flex-start;
  }

  &--bar {
    width: 40%;
    margin: 0 0 30px 0;
    padding: 40px 30px;
    background: $main-green;
    color: white;
    border-radius: 30px 0 30px 0;
  }

  &__title {
    font-size: 2em;
    margin-bottom: 30px;
  }

  &__control {
    height: 30px;
    padding: 0 20px;
    border: solid 1.5px $main-green;
    border-radius: 20px;

    &--ml50 {
      margin: 10px 0 10px 50px;
    }
  }

  &__text {
    font-size: 0.8em;
    color: red;
    margin-bottom: -20px;
    align-self: flex-end;
  }

  label {
    margin: 20px 0 7px 20px;
    text-align: left;
  }
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .form {
    &--bar {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For smol mobile phones: */
  .form {
    &__control {
      width: 70vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .form {
    &__control {
      width: 60vw;
    }
  }
}

//BUNDLE
//navbar
.navbar {
  background: white;
  z-index: 2;
  position: fixed;
  width: 100vw;
  font-size: 0.8em;
  font-family: "Roboto Mono";

  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;

    &.router-link-active {
      color: $main-green;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto;
    padding: 0 70px;
  }

  #logo {
    margin-right: auto;
    font-size: 1.5em;
    a {
      color: $main-green;
    }
  }

  &__link,
  &__btn {
    text-decoration: none;
    float: right;
    margin-left: 60px;
  }

  &__btn {
    height: 35px;
    padding: 0 15px;
    border: $main-green solid 1px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    a {
      color: $main-green;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For smol mobile phones: */
  .navbar {
    &__list {
      justify-content: space-between;
    }
  }
}

//IMPORTANT

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-30 {
  margin-top: 30px;
}

.ml-100 {
  margin-left: 100px;
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .md-hidden {
    visibility: hidden;
  }

  .md-mauto {
    margin: auto;
  }

  .md-ml10 {
    margin-left: 10px;
  }
  
  .md-ml30 {
    margin-left: 30px;
  }

  .md-mt30 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  /* For smol mobile phones: */
  .sm-hidden {
    visibility: hidden;
  }

  .sm-mauto {
    margin: auto;
  }

  .sm-m0 {
    margin: 0;
  }

  .sm-mt10 {
    margin-top: 10px;
  }

  .sm-ml10 {
    margin-left: 10px;
  }

  .sm-w0 {
    width: 0;
  }

  .sm-mh20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sm-mh10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sm-p0 {
    padding: 0;
  }
}

.text-danger {
  color: red;
}

.text-success {
  color: $main-green;
}

.btn-danger {
  border: solid 1px red !important;
}

.border-danger {
  border-color: red;
}

//ANIMATION
.fadeUp-enter,
.fadeUp-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fadeUp-enter-active,
.fadeUp-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
