.navbar {
    background: white;
    z-index: 2;
    position: fixed;
    width: 100vw;
    font-size: 0.8em;
    font-family: "Roboto Mono";
  
    a {
      font-weight: bold;
      color: #2c3e50;
      text-decoration: none;
  
      &.router-link-exact-active {
        color: $main-green;
      }
    }
  
    &__list {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 20px auto;
      padding: 0 70px;
    }
  
    #logo {
      margin-right: auto;
      font-size: 1.5em;
      a {
        color: $main-green;
      }
    }
  
    &__link,
    &__btn {
      text-decoration: none;
      float: right;
      margin-left: 60px;
    }
  
    &__btn {
      height: 35px;
      padding: 0 15px;
      border: $main-green solid 1px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      a {
        color: $main-green;
      }
    }
  }